Repository Alevsk/rbac-scope, changes with the owners that CODEOWNERS names for each.
All owners: @project-maintainers, @go-team-maintainers, @docs-maintainers, @security-team, @devops-team

Added config package to manage all app configuration from a single place
  cmd/rbac-ops/completion.go
  cmd/rbac-ops/main.go
  cmd/rbac-ops/serve.go
  config.yml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
Owners: @go-team-maintainers, @project-maintainers

fix double error display bug on app usage
  cmd/rbac-ops/main.go
Owners: @go-team-maintainers

Adding host, port, log-level and timeout flags to serve command
  cmd/rbac-ops/serve.go
  internal/config/config_test.go
Owners: @go-team-maintainers

feat: implement RBAC policy ingestion from local files, remote URLs, and directories
  cmd/rbac-ops/ingest.go
  cmd/rbac-ops/main.go
  docs/ingestion.md
  docs/todo-list.md
  internal/ingestor/folder.go
  internal/ingestor/folder_test.go
  internal/ingestor/ingestor.go
  internal/ingestor/ingestor_test.go
  internal/ingestor/local.go
  internal/ingestor/local_test.go
  internal/ingestor/mock_http.go
  internal/ingestor/remote.go
  internal/ingestor/remote_test.go
  internal/ingestor/resolver.go
  internal/ingestor/resolver_test.go
  internal/ingestor/testdata/fixtures/cluster-role.yaml
  internal/ingestor/testdata/fixtures/invalid.yaml
  internal/ingestor/testdata/fixtures/role-with-secrets.yaml
  internal/ingestor/testdata/folder/role1.yaml
  internal/ingestor/testdata/folder/role2.yml
  internal/ingestor/testdata/folder/subfolder/role3.yaml
  internal/ingestor/testdata/invalid.txt
  internal/ingestor/testdata/invalid.yaml
  internal/ingestor/testdata/valid.yaml
  internal/ingestor/testing.go
Owners: @go-team-maintainers, @docs-maintainers, @project-maintainers

feat: implement YAML renderer with test suite and fixtures
  docs/todo-list.md
  internal/renderer/renderer.go
  internal/renderer/renderer_test.go
  internal/renderer/testdata/cluster-role.yaml
  internal/renderer/testdata/invalid.yaml
  internal/renderer/testdata/role.yaml
  internal/renderer/testing.go
  internal/renderer/yaml.go
  internal/renderer/yaml_test.go
Owners: @docs-maintainers, @go-team-maintainers, @project-maintainers

refactor: integrate YAML renderer with local and remote ingestors
  docs/todo-list.md
  internal/ingestor/local.go
  internal/ingestor/local_test.go
  internal/ingestor/remote.go
  internal/ingestor/remote_test.go
  internal/ingestor/resolver.go
  internal/renderer/factory.go
  internal/renderer/renderer.go
  internal/renderer/yaml.go
  internal/renderer/yaml_test.go
Owners: @docs-maintainers, @go-team-maintainers

feat: implement helm chart renderer with tests and fixtures
  docs/todo-list.md
  go.mod
  go.sum
  internal/renderer/helm.go
  internal/renderer/helm_test.go
  internal/renderer/testdata/fixtures/test-chart-0.1.0.tgz
  internal/renderer/testdata/fixtures/test-chart/Chart.yaml
  internal/renderer/testdata/fixtures/test-chart/templates/role.yaml
  internal/renderer/testdata/fixtures/test-chart/values.yaml
  internal/renderer/testing.go
  internal/renderer/yaml.go
Owners: @docs-maintainers, @project-maintainers, @go-team-maintainers

feat: implement kustomize renderer with test fixtures and unit tests
  docs/todo-list.md
  go.mod
  go.sum
  internal/renderer/kustomize.go
  internal/renderer/kustomize_test.go
  internal/renderer/testdata/fixtures/test-kustomize/kustomization.yaml
  internal/renderer/testdata/fixtures/test-kustomize/role.yaml
Owners: @docs-maintainers, @project-maintainers, @go-team-maintainers

chore: upgrade Go version to 1.24.3 and update Docker image path
  .github/workflows/ci.yml
  Dockerfile
  Makefile
Owners: @devops-team

feat: add automatic renderer detection and integration for Helm/Kustomize folders
  Makefile
  docs/todo-list.md
  internal/ingestor/detect.go
  internal/ingestor/folder.go
  internal/renderer/helm.go
  internal/renderer/kustomize.go
  internal/renderer/renderer.go
  internal/renderer/yaml.go
Owners: @devops-team, @docs-maintainers, @go-team-maintainers

refactor: move metadata types to separate file and update ModTime to use time.Time
  docs/todo-list.md
  internal/ingestor/folder.go
  internal/ingestor/local.go
  internal/ingestor/metadata.go
  internal/ingestor/remote.go
  internal/ingestor/resolver.go
Owners: @docs-maintainers, @go-team-maintainers

feat: implement thread-safe file handling in KustomizeRenderer with mutex protection
  internal/renderer/kustomize.go
Owners: @go-team-maintainers

refactor: switch from disk-based to in-memory filesystem for kustomize rendering
  internal/ingestor/folder.go
Owners: @go-team-maintainers

refactor: switch kustomize renderer from disk to in-memory filesystem
  internal/renderer/kustomize.go
  internal/renderer/testdata/fixtures/test-kustomize/configuration/namespace.yaml
  internal/renderer/testdata/fixtures/test-kustomize/kustomization.yaml
Owners: @go-team-maintainers, @project-maintainers

refactor: simplify kustomize test by using in-memory files instead of temp directory
  internal/renderer/kustomize_test.go
Owners: @go-team-maintainers

refactor: replace file system operations with in-memory storage for Helm chart handling
  internal/renderer/helm.go
  internal/renderer/helm_test.go
Owners: @go-team-maintainers

test: add RBAC fixtures and simplify test helper by removing loadFixture method
  internal/renderer/testdata/fixtures/cluster-role.yaml
  internal/renderer/testdata/fixtures/invalid.yaml
  internal/renderer/testdata/fixtures/role.yaml
  internal/renderer/testing.go
Owners: @project-maintainers, @go-team-maintainers

Add additional renderer tests
  internal/renderer/factory_test.go
  internal/renderer/helm_addfile_test.go
  internal/renderer/kustomize_extra_test.go
  internal/renderer/yaml_validate_test.go
Owners: @go-team-maintainers

ci: update branch name from main to master and fix yaml indentation
  .github/workflows/ci.yml
Owners: @devops-team

docs: add renderer documentation and update todo list
  docs/renderer.md
  docs/todo-list.md
Owners: @docs-maintainers

feat: implement identity extractor for service account analysis
  docs/todo-list.md
  go.mod
  go.sum
  internal/extractor/extractor.go
  internal/extractor/factory.go
  internal/extractor/identity.go
  internal/extractor/identity_test.go
  internal/extractor/options.go
Owners: @docs-maintainers, @project-maintainers, @go-team-maintainers

feat: implement workload extractor for kubernetes resources with security context
  docs/todo-list.md
  internal/extractor/extractor.go
  internal/extractor/factory.go
  internal/extractor/identity.go
  internal/extractor/identity_test.go
  internal/extractor/workload.go
  internal/extractor/workload_test.go
Owners: @docs-maintainers, @go-team-maintainers

feat: implement RBAC extractor for extracting roles and bindings from K8s manifests
  docs/todo-list.md
  internal/extractor/extractor.go
  internal/extractor/factory.go
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
Owners: @docs-maintainers, @go-team-maintainers

test: consolidate renderer tests and fix lint
  Makefile
  internal/renderer/factory_test.go
  internal/renderer/helm_test.go
  internal/renderer/kustomize_test.go
  internal/renderer/yaml_test.go
Owners: @devops-team, @go-team-maintainers

refactor: restructure identity data as nested map with namespace grouping
  internal/extractor/identity.go
  internal/extractor/identity_test.go
Owners: @go-team-maintainers

refactor: restructure identity and workload data organization with nested maps
  internal/extractor/identity.go
  internal/extractor/identity_test.go
Owners: @go-team-maintainers

refactor: group workloads by ServiceAccount and Namespace in result data structure
  internal/extractor/workload.go
  internal/extractor/workload_test.go
Owners: @go-team-maintainers

refactor: remove unused Raw field from extractor Result struct
  internal/extractor/extractor.go
Owners: @go-team-maintainers

feat: reorganize RBAC data structure to map roles by service account and namespace
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
Owners: @go-team-maintainers

refactor: migrate resolver factory to resolver package and add test fixtures
  internal/ingestor/ingestor.go
  internal/resolver/detect.go
  internal/resolver/folder.go
  internal/resolver/folder_test.go
  internal/resolver/local.go
  internal/resolver/local_test.go
  internal/resolver/metadata.go
  internal/resolver/mock_http.go
  internal/resolver/remote.go
  internal/resolver/remote_test.go
  internal/resolver/resolver.go
  internal/resolver/resolver_test.go
  internal/resolver/testdata/fixtures/cluster-role.yaml
  internal/resolver/testdata/fixtures/invalid.yaml
  internal/resolver/testdata/fixtures/role-with-secrets.yaml
  internal/resolver/testdata/folder/role1.yaml
  internal/resolver/testdata/folder/role2.yml
  internal/resolver/testdata/folder/subfolder/role3.yaml
  internal/resolver/testdata/invalid.txt
  internal/resolver/testdata/invalid.yaml
  internal/resolver/testdata/valid.yaml
  internal/resolver/testing.go
Owners: @go-team-maintainers, @project-maintainers

test: improve extractor coverage
  internal/extractor/factory_test.go
  internal/extractor/identity_test.go
  internal/extractor/rbac_test.go
  internal/extractor/workload_test.go
Owners: @go-team-maintainers

refactor: update resolvers to return renderer.Result instead of io.ReadCloser
  internal/ingestor/ingestor.go
  internal/resolver/folder.go
  internal/resolver/folder_test.go
  internal/resolver/local.go
  internal/resolver/local_test.go
  internal/resolver/remote.go
  internal/resolver/remote_test.go
  internal/resolver/resolver.go
  internal/resolver/testing.go
Owners: @go-team-maintainers

refactor: replace k8s runtime decoder with direct YAML parsing for extractors
  go.mod
  internal/extractor/extractor.go
  internal/extractor/identity.go
  internal/extractor/identity_test.go
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
  internal/extractor/workload.go
  internal/extractor/workload_test.go
Owners: @project-maintainers, @go-team-maintainers

refactor: update manifest validation to check Content instead of Raw field length
  internal/extractor/identity.go
  internal/extractor/rbac.go
  internal/extractor/workload.go
Owners: @go-team-maintainers

refactor: optimize RBAC permissions storage using nested maps instead of slices
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
Owners: @go-team-maintainers

docs: add extractor documentation and update todo list with completed tasks
  docs/extractor.md
  docs/todo-list.md
Owners: @docs-maintainers

feat: enhance RBAC binding structure with detailed subject information and namespace handling
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
Owners: @go-team-maintainers

fix: swap namespace and name keys in identity map to match expected lookup order
  internal/extractor/identity.go
  internal/extractor/identity_test.go
Owners: @go-team-maintainers

refactor: improve renderer detection with support for multiple file extensions
  internal/renderer/helm.go
  internal/renderer/kustomize.go
  internal/resolver/detect.go
Owners: @go-team-maintainers

test: add renderer type detection with test fixtures and test cases
  go.mod
  internal/resolver/detect_test.go
  internal/resolver/testdata/fixtures/helm_yaml/Chart.yaml
  internal/resolver/testdata/fixtures/helm_yml/Chart.yml
  internal/resolver/testdata/fixtures/kustomize_yaml/kustomization.yaml
  internal/resolver/testdata/fixtures/kustomize_yml/kustomization.yml
  internal/resolver/testdata/fixtures/yaml/simple.yaml
  internal/resolver/testdata/fixtures/yml/simple.yml
Owners: @project-maintainers, @go-team-maintainers

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @project-maintainers

# Go source code
*.go    @go-team-maintainers

# Documentation
/docs/  @docs-maintainers
*.md    @docs-maintainers

# Security-related files
/internal/security/   @security-team
SECURITY.md          @security-team

# CI/CD configuration
/.github/            @devops-team
/Dockerfile          @devops-team
/Makefile           @devops-team

# Replace with actual GitHub usernames when the teams are created
