Repository Alevsk/rbac-scope, changes with the owners that CODEOWNERS names for each.
All owners: @project-maintainers, @go-team-maintainers, @docs-maintainers, @security-team, @devops-team

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @project-maintainers

# Go source code
*.go    @go-team-maintainers

# Documentation
/docs/  @docs-maintainers
*.md    @docs-maintainers

# Security-related files
/internal/security/   @security-team
SECURITY.md          @security-team

# CI/CD configuration
/.github/            @devops-team
/Dockerfile          @devops-team
/Makefile           @devops-team

# Replace with actual GitHub usernames when the teams are created

refactor: remove duplicate tests and format risk rule tags
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.yaml
  internal/policyevaluation/types.go
Owners: @go-team-maintainers, @project-maintainers

Fixing tests
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
Owners: @go-team-maintainers

Fixing policy evaluation test and adding risk rule IDs
  docs/todo-list.md
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.go
  internal/policyevaluation/risks.yaml
  internal/policyevaluation/types.go
Owners: @docs-maintainers, @go-team-maintainers, @project-maintainers

feat: aggregate unique risk tags from multiple matching rules
  internal/formatter/formatter.go
  internal/formatter/formatter_test.go
  internal/formatter/table.go
  internal/formatter/table_test.go
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.go
  internal/policyevaluation/types.go
Owners: @go-team-maintainers

fix: set default namespace when not specified in k8s workload metadata
  internal/extractor/workload.go
Owners: @go-team-maintainers

feat: add risk rule IDs to RBAC data entries for policy evaluation
  internal/formatter/formatter.go
  internal/formatter/formatter_test.go
  internal/formatter/types.go
Owners: @go-team-maintainers

feat: add command examples and descriptions to RBAC risk definitions
  internal/policyevaluation/risks.yaml
  internal/policyevaluation/types.go
Owners: @project-maintainers, @go-team-maintainers

feat: add support for custom values.yaml file in helm chart rendering
  cmd/rbac-ops/ingest.go
  internal/ingestor/ingestor.go
  internal/renderer/helm.go
  internal/renderer/renderer.go
  internal/resolver/detect.go
  internal/resolver/folder.go
  internal/resolver/resolver.go
Owners: @go-team-maintainers

test: add helm renderer values file support with test fixtures
  internal/renderer/helm_test.go
  internal/renderer/testdata/fixtures/chart/Chart.yaml
  internal/renderer/testdata/fixtures/chart/templates/role.yaml
  internal/renderer/testdata/fixtures/chart/values.yaml
  internal/renderer/testdata/fixtures/values/values.yaml
  internal/resolver/detect_test.go
Owners: @go-team-maintainers, @project-maintainers

test: add test case for handling invalid YAML values file in helm renderer
  internal/renderer/helm_test.go
  internal/renderer/testdata/fixtures/values/invalid.yaml
Owners: @go-team-maintainers, @project-maintainers

chore: update .dockerignore and .gitignore to include cache directories; modify devcontainer.json for improved configuration and additional features
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
Owners: @project-maintainers

style: fix code formatting and adjust variable initialization in tests
  internal/resolver/remote_test.go
  internal/types/result_test.go
Owners: @go-team-maintainers

test: add unit tests for UniqueRiskTags function with various tag combinations
  internal/policyevaluation/risks_test.go
Owners: @go-team-maintainers

docs: mark completed tasks F600, F602, F603 and update F601 description
  docs/todo-list.md
Owners: @docs-maintainers

feat: add resourceNames evaluation with risk level override and restricted tag
  docs/todo-list.md
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/types.go
Owners: @docs-maintainers, @go-team-maintainers

feat: add support for resource name restrictions in RBAC permissions
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
  internal/formatter/formatter.go
  internal/formatter/formatter_test.go
  internal/formatter/table.go
  internal/formatter/table_test.go
  internal/formatter/types.go
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/types.go
Owners: @go-team-maintainers

feat: display resource name restrictions in table output for RBAC roles
  internal/formatter/table.go
Owners: @go-team-maintainers

chore: remove coverage report files from resolver and formatter packages
  internal/formatter/formatter_coverage.txt
  internal/formatter/formatter_coverage_updated.txt
  internal/resolver/resolver_coverage.txt
  internal/resolver/resolver_coverage_report.txt
  internal/resolver/resolver_coverage_updated.txt
Owners: @project-maintainers

style: fix code formatting and alignment in test files
  internal/resolver/local_test.go
  internal/resolver/remote_test.go
Owners: @go-team-maintainers

refactor: rewrite test cases using table-driven approach with cmp.Diff
  internal/formatter/formatter_test.go
Owners: @go-team-maintainers

feat: add error handling for JSON/YAML marshaling edge cases in formatter
  internal/formatter/formatter.go
  internal/formatter/formatter_test.go
Owners: @go-team-maintainers

docs: add database configuration options and update JSON schema structure
  docs/configuration.md
  docs/extractor.md
Owners: @docs-maintainers

refactor: rename ingest command to analyze for better clarity of purpose
  GEMINI.md
  cmd/rbac-ops/analyze.go
  cmd/rbac-ops/ingest.go
  cmd/rbac-ops/main.go
Owners: @docs-maintainers, @go-team-maintainers

refactor: rename project from RBAC-Ops to RBAC-Scope across all files
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  GEMINI.md
  LICENSE
  SECURITY.md
  cmd/rbac-scope/banner.go
  cmd/rbac-scope/main.go
  cmd/rbac-scope/serve.go
  docs/extractor.md
  docs/todo-list.md
Owners: @project-maintainers, @docs-maintainers, @security-team, @go-team-maintainers

feat: conditionally show banner based on command and output format
  cmd/rbac-scope/analyze.go
  cmd/rbac-scope/main.go
  cmd/rbac-scope/serve.go
Owners: @go-team-maintainers

feat: add potential abuse table with detailed risk rule information
  internal/formatter/formatter.go
  internal/formatter/formatter_test.go
  internal/formatter/table.go
  internal/formatter/table_test.go
  internal/formatter/types.go
Owners: @go-team-maintainers

feat: add potential abuse table to formatter output and tests
  internal/formatter/table_test.go
Owners: @go-team-maintainers

test: add potentialAbuseTable validation in buildTables unit test
  internal/formatter/table_test.go
Owners: @go-team-maintainers

fix: add nil check for options in PrepareData and remove unnecessary condition
  internal/formatter/formatter.go
  internal/formatter/table_test.go
Owners: @go-team-maintainers

ci: add release workflow with multi-arch builds and automated GitHub releases
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  README.md
Owners: @devops-team, @docs-maintainers

style: standardize quote usage and improve shell output formatting in release workflow
  .github/workflows/release.yml
Owners: @devops-team

ci: remove linux/arm/v7 platform and scope GHA cache to git ref
  .github/workflows/release.yml
Owners: @devops-team

Add additional tests
  cmd/rbac-scope/analyze_test.go
  internal/extractor/helpers_test.go
  internal/resolver/isvalidyaml_test.go
Owners: @go-team-maintainers

Add tests and fix lint
  cmd/rbac-scope/analyze_test.go
  cmd/rbac-scope/banner_test.go
  cmd/rbac-scope/main_test.go
  internal/policyevaluation/risks_test.go
  internal/renderer/yaml_test.go
  internal/resolver/mock_http_test.go
  internal/resolver/testing_test.go
Owners: @go-team-maintainers

Add tests and fix lint
  cmd/rbac-scope/analyze_test.go
  cmd/rbac-scope/banner_test.go
  cmd/rbac-scope/main_test.go
  internal/policyevaluation/risks_test.go
  internal/renderer/yaml_test.go
  internal/resolver/mock_http_test.go
  internal/resolver/testing_test.go
Owners: @go-team-maintainers

Add additional tests
  cmd/rbac-scope/analyze_test.go
  internal/extractor/helpers_test.go
  internal/resolver/isvalidyaml_test.go
Owners: @go-team-maintainers

Adding support for verb groups on policy match
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.yaml
  internal/policyevaluation/types.go
Owners: @go-team-maintainers, @project-maintainers
