Repository Alevsk/rbac-scope, changes with the owners that CODEOWNERS names for each.
All owners: @project-maintainers, @go-team-maintainers, @docs-maintainers, @security-team, @devops-team

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @project-maintainers

# Go source code
*.go    @go-team-maintainers

# Documentation
/docs/  @docs-maintainers
*.md    @docs-maintainers

# Security-related files
/internal/security/   @security-team
SECURITY.md          @security-team

# CI/CD configuration
/.github/            @devops-team
/Dockerfile          @devops-team
/Makefile           @devops-team

# Replace with actual GitHub usernames when the teams are created

fix: use subject namespace from binding instead of default namespace for ServiceAccounts
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
Owners: @go-team-maintainers

feat: add name and version tracking across renderers and resolvers
  internal/ingestor/ingestor.go
  internal/renderer/helm.go
  internal/renderer/kustomize.go
  internal/renderer/renderer.go
  internal/renderer/yaml.go
  internal/resolver/folder.go
  internal/resolver/local.go
  internal/resolver/metadata.go
  internal/resolver/remote.go
Owners: @go-team-maintainers

feat: add table, json, and yaml output formatting for ingestion results
  cmd/rbac-ops/ingest.go
  cmd/rbac-ops/main.go
  go.mod
  go.sum
  internal/formatter/formatter.go
  internal/ingestor/ingestor.go
  internal/ingestor/ingestor_test.go
  internal/types/result.go
Owners: @go-team-maintainers, @project-maintainers

feat: add risk level assessment to RBAC table output
  internal/formatter/formatter.go
  internal/formatter/risk_rules.go
Owners: @go-team-maintainers

feat: add markdown output format and refactor table rendering logic
  cmd/rbac-ops/ingest.go
  internal/formatter/formatter.go
  internal/formatter/risk.go
  internal/formatter/table.go
Owners: @go-team-maintainers

refactor: move formatter types and structs into separate types.go file
  internal/formatter/formatter.go
  internal/formatter/types.go
Owners: @go-team-maintainers

feat: add metadata output option with version, name, source and timestamp fields
  cmd/rbac-ops/ingest.go
  internal/formatter/formatter.go
  internal/formatter/table.go
  internal/formatter/types.go
  internal/ingestor/ingestor.go
Owners: @go-team-maintainers

refactor: remove redundant empty manifest validation checks
  internal/extractor/identity.go
  internal/extractor/identity_test.go
  internal/extractor/rbac.go
  internal/extractor/rbac_test.go
  internal/extractor/workload.go
  internal/extractor/workload_test.go
  internal/renderer/helm.go
Owners: @go-team-maintainers

refactor: unify result types and add metadata extraction across components
  internal/extractor/extractor.go
  internal/ingestor/ingestor.go
  internal/renderer/helm.go
  internal/renderer/renderer.go
  internal/resolver/folder.go
  internal/types/result.go
Owners: @go-team-maintainers

chore: update dependencies and add formatter documentation
  docs/formatter.md
  go.mod
  go.sum
Owners: @docs-maintainers, @project-maintainers

refactor: standardize version hash format and add extra metadata field support
  internal/formatter/formatter.go
  internal/formatter/types.go
  internal/renderer/kustomize.go
  internal/renderer/yaml.go
Owners: @go-team-maintainers

feat: sort RBAC table by risk level and identity instead of identity and namespace
  internal/formatter/table.go
Owners: @go-team-maintainers

feat: implement comprehensive risk assessment rules for RBAC permissions
  internal/formatter/risk.go
  internal/formatter/risk_test.go
  internal/renderer/testdata/risk-rule.yaml
Owners: @go-team-maintainers, @project-maintainers

test: add comprehensive test cases for RBAC risk assessment rules
  internal/formatter/risk_test.go
Owners: @go-team-maintainers

test: remove redundant test case for full namespace access in risk assessment
  internal/formatter/risk_test.go
Owners: @go-team-maintainers

fix: add missing header into the metadata table
  SECURITY.md
  internal/formatter/risk.go
  internal/formatter/table.go
Owners: @security-team, @go-team-maintainers

feat: implement risk level sorting and add comprehensive risk rules definitions
  internal/formatter/risk.go
  internal/formatter/table.go
Owners: @go-team-maintainers

feat: add risk tags to RBAC rules and implement tag string formatting
  internal/formatter/formatter.go
  internal/formatter/risk.go
  internal/formatter/table.go
  internal/formatter/types.go
Owners: @go-team-maintainers

feat: implement RBAC policy risk evaluation with test fixtures and rules
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.go
  internal/policyevaluation/testdata/fixtures/secrets-reader.yaml
  internal/policyevaluation/types.go
Owners: @go-team-maintainers, @project-maintainers

feat: load RBAC risk rules from embedded YAML file
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.go
  internal/policyevaluation/risks.yaml
  internal/policyevaluation/types.go
Owners: @go-team-maintainers, @project-maintainers

refactor: migrate risk assessment logic to policyevaluation package
  internal/formatter/formatter.go
  internal/formatter/risk.go
  internal/formatter/risk_test.go
  internal/formatter/table.go
  internal/formatter/types.go
  internal/policyevaluation/types.go
Owners: @go-team-maintainers

feat: add cluster admin detection and improve risk rule matching with wildcard support
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/resources.go
  internal/policyevaluation/testdata/fixtures/cluster-admin-access.yaml
Owners: @go-team-maintainers, @project-maintainers

fixed tests syntax, still broken
  internal/policyevaluation/evaluator_test.go
Owners: @go-team-maintainers

refactor: split policy matching logic into separate functions for APIGroups, Resources, and Verbs
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.yaml
Owners: @go-team-maintainers, @project-maintainers

fix: update test case to use ClusterRole for pod port-forward policy
  internal/policyevaluation/evaluator_test.go
Owners: @go-team-maintainers

feat: add comprehensive RBAC risk evaluation test cases and descriptions
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.yaml
Owners: @go-team-maintainers, @project-maintainers

feat: add comprehensive RBAC risk rules for impersonation, network, and service management
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.yaml
Owners: @go-team-maintainers, @project-maintainers

feat: implement zerolog-based logging system with debug mode support
  go.mod
  go.sum
  internal/config/config.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Owners: @project-maintainers, @go-team-maintainers

refactor: replace fmt.Printf with logger.Debug for policy evaluation logging
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
Owners: @go-team-maintainers

feat: implement debug logging with structured log messages and config flag
  internal/policyevaluation/evaluator.go
Owners: @go-team-maintainers

feat: add debug mode with verbose logging and configuration support
  config.yml
Owners: @project-maintainers

feat: add debug configuration and improve logger initialization
  cmd/rbac-ops/main.go
  docs/configuration.md
  internal/config/config.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Owners: @go-team-maintainers, @docs-maintainers

refactor: update policy evaluator with additional test cases and risk definitions
  docs/todo-list.md
  internal/policyevaluation/evaluator_test.go
  internal/policyevaluation/risks.yaml
Owners: @docs-maintainers, @go-team-maintainers, @project-maintainers

chore: update Go version to 1.24.3 and add zerolog dependency
  go.mod
Owners: @project-maintainers

chore: remove GOTOOLCHAIN=local flag from golangci-lint command
  Makefile
Owners: @devops-team

feat: add default namespace support for cluster-scoped resources and improve config file detection
  internal/extractor/identity.go
  internal/extractor/identity_test.go
  internal/extractor/workload.go
  internal/extractor/workload_test.go
Owners: @go-team-maintainers

feat: add support for both config.yml and config.yaml file extensions
  internal/config/config.go
Owners: @go-team-maintainers

style: improve code formatting and error handling in tests
  internal/api/server_test.go
  internal/config/config_test.go
  internal/formatter/formatter_test.go
  internal/formatter/table_test.go
  internal/policyevaluation/evaluator.go
  internal/policyevaluation/evaluator_test.go
Owners: @go-team-maintainers

style: format code and fix indentation across test files
  internal/extractor/workload_test.go
  internal/renderer/helm_test.go
  internal/resolver/folder_test.go
  internal/resolver/local_test.go
  internal/resolver/remote_test.go
  internal/resolver/resolver_test.go
Owners: @go-team-maintainers

docs: update policy evaluator tasks with risk rules and nonResourceURLs evaluation
  docs/todo-list.md
Owners: @docs-maintainers
